*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.first{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.first .bir{
    width: 100%;
}

.first .iki{
    position: absolute;
    top: 0;
    right: 50px;
}

.first .red{
    width: 50px;
    height: 51px;
    background-color: red;
    position: absolute;
    top: 22px;
    right: 137px;
    border-radius: 100%;
    animation: redd 2s linear infinite;
}

.first .yellow{
    width: 50px;
    height: 51px;
    background-color: yellow;
    position: absolute;
    top: 86px;
    right: 137px;
    border-radius: 100%;
    animation: yeloww 2s linear infinite;
}

.first .green{
    width: 50px;
    height: 51px;
    background-color: green;
    position: absolute;
    top: 152px;
    right: 137px;
    border-radius: 100%;
    animation: greenn 2s linear infinite;
}

@keyframes redd {
    0%{
        background-color: red;
    }
    50%{
        background: black;
    }
    100%{
        background-color: red;
    }
    
}
@keyframes yeloww {
    0%{
        background-color: yellow;
    }
    50%{
        background: black;
    }
    100%{
        background-color: yellow;
    }
    
}
@keyframes greenn {
    0%{
        background-color: green;
    }
    50%{
        background: black;
    }
    100%{
        background-color: green;
    }
    
}

